.input-container {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.input-field {
  font-family: inherit;
  width: 100%;
  height: auto;
  border: none;
  border-bottom: 2px solid var(--border-color);
  outline: none;
  font-size: 1rem;
  background: transparent;
  /* padding: 7px 0; */

  transition: border-color 0.2s;
  color: inherit;
}

.input-field--sm {
  width: 200px;
  padding-top: 6px;
  padding-bottom: 8px;
  font-size: 14px;
}

.input-field--sm:focus,
.input-field--sm:not(:placeholder-shown) {
  padding-top: 6px;
  padding-bottom: 4px;
}

.input-field--md {
  width: 250px;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 16px;
}

.input-field--lg {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 18px;
}

.input-field--lg:focus,
.input-field--lg:not(:placeholder-shown) {
  padding-top: 12px;
  padding-bottom: 0px;
}

/* Borde del input cuando esta focus */
.input-field:focus {
  border-bottom: 3px solid var(--focus-border-color);
  /* padding-bottom: 6px; */
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 1rem;
  color: inherit;
}

.input-field.float-label + .input-label {
  top: 0;
  font-size: 1rem;
  color: inherit;
}

/* Read only */
.input-field:read-only {
  cursor: default;
}

.input-field.prevent-float:focus + .input-label {
  top: 20px;
  color: inherit;
}

.input-label {
  position: absolute;
  top: 20px;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-label--sm,
.input-field.prevent-float:focus + .input-label--sm {
  font-size: 18px;
}

.input-label--md,
.input-field.prevent-float:focus + .input-label--md {
  font-size: 20px;
}

.input-label--lg,
.input-field.prevent-float:focus + .input-label--lg {
  font-size: 22px;
}

/* Cuando el input está focus / tiene texto, la label sube y cambia estilo */
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  color: inherit;
}

.input-field:focus + .input-label--sm,
.input-field:not(:placeholder-shown) + .input-label--sm {
  font-size: 12px;
}

.input-field:focus + .input-label--md,
.input-field:not(:placeholder-shown) + .input-label--md {
  font-size: 16px;
}

.input-field:focus + .input-label--lg,
.input-field:not(:placeholder-shown) + .input-label--lg {
  font-size: 18px;
}

/* reset input */
.input-field:required,
.input-field:invalid {
  box-shadow: none;
}

.input-disabled .input-label {
  opacity: 0.5;
  pointer-events: none;
}

/* Icon */

.input-icon-end {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--focus-border-color);
}

.input-icon-end--sm {
  right: 5em;
  font-size: 0.85rem;
}

.input-icon-end--md {
  right: 1em;
  font-size: 1rem;
}

.input-icon-end--lg {
  right: -2em;
  font-size: 1.2rem;
}

.input-disabled .input-icon-end {
  opacity: 0.5;
}
