.accordion-menu {
  margin: 20px auto;
  padding: 10px 20px 20px;
  border-radius: 5px;
}

.accordion-menu--sm {
  max-width: 250px;
}

.accordion-menu--md {
  max-width: 350px;
}

.accordion-menu--lg {
  max-width: 450px;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-title {
  line-height: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  margin: 0;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;

  color: var(--title-text-color);
}

.accordion-title--sm {
  font-size: 18px;
}

.accordion-title--md {
  font-size: 20px;
}

.accordion-title--lg {
  font-size: 22px;
}

.accordion-title > span {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.accordionItem-content {
  color: var(--text-color);
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  margin-top: 14px;
  z-index: 2;
  transition: all 0.25s ease-in-out;
}

.accordionItem-content--sm {
  font-size: 14px;
}
.accordionItem-content--md {
  font-size: 16px;
}
.accordionItem-content--lg {
  font-size: 18px;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0 20px 10px;
  margin: 0;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

ul li {
  position: relative;
  padding: 12px 20px;
  margin: 0;
  border-top: 1px dotted var(--title-text-color);
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
}

ul li:nth-child(1) {
  border: none;
  animation-delay: 0.5s;
}

ul li:last-of-type {
  padding-bottom: 0;
}

li.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

li.disabled .accordion-header {
  cursor: not-allowed;
}
